.req::after {
    content: ' *';
    color: red;
}

.bl {
    margin-top: 2% !important;
}

.logo>span {
    margin-top: 7% !important;
}

.head-pro {
    margin-top: 10% !important;
}

.smenu-box,
.smenu-multi {
    top: 115px !important;
}

.hom-top.act .smenu-box,
.hom-top.act .smenu-multi {
    top: 75px !important;
}

.text-red{
    color: #c10502 !important;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#c10502;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #c10502;
    z-index: 9;
}

.my-float{
	margin-top:22px;
}

.text-white{
	z-index: 9 !important;
}

.h2{
	font-size: x-large;
}
.dot li{
	list-style-type: disc !important;
}

.blink{	
	animation: animate  
                2.9s linear infinite;
}


@keyframes animate { 
	0% { 
		opacity: 0; 
	} 

	50% { 
		opacity: 0.5; 
	} 

	100% { 
		opacity: 0; 
	} 
} 